.load-btn {
  background: $primary__color;
  border: none;
  outline: none;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: $base__padding $base__padding * 2;
  width: 200px;
  display: block;
  margin: $base__padding auto;
  // @include min(660px) {
  //   max-width: 60%;
  //   margin: 40px  12px 40px 0;
  // }
}
