.video-list {
  margin: $base__padding * 7 auto $base__padding;
  max-width: 960px;
  @include min(660px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include min($content-maxw) {
    padding: $base__padding 0;
  }
}
