html {
  font-size: 80%;

  @include min(800px) {
    font-size: 90%;
  }

  @include min(1024px) {
    font-size: 95%;
  }

  @include min(1200px) {
    font-size: 100%;
  }
}


body {
  font-family: $base-font__stack;
  font-weight: $font-weight--thin;
  font-size: 1rem;
  line-height: 1.4;
  background: lighten(lightblue, 10%);
}
